In [2]:
import pandas as pd
import numpy as np

In [4]:
demo = pd.read_csv('randomise_measures.csv')

In [6]:
demo.head()

     subject    age  accuracy  age_demeaned  acc_demeaned sex scanner
0  temple016  31.10   0.93750         16.72       0.16944   M   skyra
1  temple019  26.19   0.93750         11.81       0.16944   F   skyra
2  temple020  23.11   0.81250          8.73       0.04444   F   skyra
3  temple022  29.05   0.59375         14.67      -0.17431   F   skyra
4  temple023  25.33   0.56250         10.95      -0.20556   F   skyra

In [10]:
beh_raw = pd.read_csv('/Users/owenfriend/Documents/temple_local/analysis/integration_prepost/remember_by_triad.csv')

In [12]:
beh_raw = beh_raw.rename(columns = {"accuracy":"triplet_accuracy"})
beh = pd.merge(beh_raw, demo, on="subject", how="inner").iloc[:, 1:]
beh.head()

,subject,correct_triad,trials,triplet_accuracy,avg_RT,avg_repetitions,age,accuracy,age_demeaned,acc_demeaned,sex,scanner
0,temple016,1.0,8,0.875,5.416362,1.375,31.10,0.9375,16.72,0.16944,M,skyra
1,temple016,2.0,8,0.875,10.866138,1.000,31.10,0.9375,16.72,0.16944,M,skyra
2,temple016,3.0,8,1.000,6.599650,1.250,31.10,0.9375,16.72,0.16944,M,skyra
3,temple016,4.0,8,1.000,6.761138,1.125,31.10,0.9375,16.72,0.16944,M,skyra
4,temple019,1.0,8,1.000,8.650600,1.250,26.19,0.9375,11.81,0.16944,F,skyra

### pre-post integration in identified searchlight clusters

In [ ]:
prepost_ab_sl = pd.read_csv("aggregated_AB_searchlight_prepost.csv")
prepost_ac_sl = pd.read_csv("aggregated_AC_weak_searchlight_prepost.csv")

# anatomical ROIs
#prepost_ab_hip = pd.read_csv("aggregated_AB_lat_hip_subregions_prepost.csv")
#prepost_ac_hip = pd.read_csv("aggregated_AC_lat_hip_subregions_prepost.csv")

prepost_df = pd.concat([prepost_ab_sl, prepost_ac_sl], ignore_index = True)
prepost_df['triplet'] = prepost_df['triplet'].astype(int)

p_df = pd.merge(prepost_df, beh, on = ['subject', 'triplet'], how = 'inner')

### representational symmetry in anatomical hippocampus

In [ ]:
symm_ab_hip = pd.read_csv("aggregated_AB_lat_hip_subregions_symmetry.csv")
symm_ac_hip = pd.read_csv("aggregated_AC_lat_hip_subregions_symmetry.csv")

def make_asym(df, fwd_label, bwd_label):
    fwd = df[df['comparison'] == fwd_label].copy()
    bwd = df[df['comparison'] == bwd_label].copy()

    fwd['forward'] = fwd['within_sim'].values
    fwd['backward'] = bwd['within_sim'].values
    fwd['asymmetry'] = fwd['forward'] - fwd['backward']

    return fwd

ab_hip = make_asym(symm_ab_hip, 'AB', 'BA')
ac_hip = make_asym(symm_ac_hip, 'AC', 'CA')

symm_df = pd.concat([ab_hip, ac_hip], ignore_index=True)
symm_df['triplet'] = symm_df['triplet'].astype(int)